version: '3.8'
services:
  3dify:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    develop:
      watch:
        - path: ./package.json
          action: rebuild
        - path: ./next.config.js
          action: rebuild
        - path: ./package-lock.json
          action: rebuild
        - path: next.config.js
          action: rebuild
        - path: ./app
          action: rebuild
    depends_on:
      - filestore
    environment:
      - MAKEHUMAN_IP = 10.5.0.5
      - MAKEHUMAN_PORT = 12345
    networks:
      - 3dify
  filestore:
    image: minio/minio
    ports:
      - '9000:9000'
      - '9001:9001'
    volumes:
      - 'minio_data:/data'
    command: server /data --console-address ":9001"
    environment:
      - MINIO_ROOT_USER=admin
      - MINIO_ROOT_PASSWORD=minioadmin
      - MINIO_API_CORS_ALLOW_ORIGIN='*'
    networks:
      - 3dify
  python:
    build:
      context: ./pythonServices
      dockerfile: Dockerfile
    ports:
      - 3001:80
    develop:
      watch:
        - path: ./pythonServices
          action: rebuild
    environment:
      - MAKEHUMAN_IP = 10.5.0.5
      - MAKEHUMAN_PORT = 12345
    networks:
      - 3dify
  makehuman:
    build:
      context: ./makehuman-docker
      dockerfile: Dockerfile
    ports:
      - 12345:12345
    develop:
      watch:
        - path: ./makehuman-docker
          action: rebuild
    environment:
      - DISPLAY=${DISPLAY:-host.docker.internal:1}
      - QT_QPA_PLATFORM=xcb
    volumes:
      - '/tmp/.X11-unix:/tmp/.X11-unix'
      - '$HOME/.Xauthority:/root/.Xauthority'
    networks:
      3dify:
        ipv4_address: 10.5.0.5

  unity:
    build:
      context: ./unityClient
      dockerfile: Dockerfile
    ports:
      - 8000:8000
    develop:
      watch:
        - path: ./unityClient
          action: rebuild
    networks:
      - 3dify
volumes:
  minio_data:
    driver: local
networks:
  3dify:
    driver: bridge
    ipam:
      config:
        - subnet: 10.5.0.0/16
          gateway: 10.5.0.1
