mediapipe>=0.10.9
fastapi==0.111.0
pydantic>=2.7.1
opencv-python-headless>=4.9.0.80
matplotlib>=3.8.3
pandas>=2.2.1
numpy>=1.26.2
python-dotenv>=1.0.1 
scikit-image>=0.19.0
rembg[cpu]
# moviepy==1.0.3
# backgroundremover>=0.2.0
moviepy==1.0.3
backgroundremover>=0.2.0
moviepy==1.0.3
backgroundremover>=0.2.0
